* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding: 10px 0;
    background-image: url('../img/fundo-topo.jpg');
}

header h1 {
    margin: 0;
    height: 84px;
}

nav {
    margin: 0;
    text-align: center;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(253, 255, 253, 0.815);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

nav li {
    display: inline;
    background-image: url('../img/patinha-preta.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 27px;
    margin-right: 10px;
}

nav li:hover{
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(100deg) brightness(95%) contrast(90%);
}

#itemContato{
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #6bd432;
}

.fundo-verde {
    background-color: #bdff9c;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.container .col {
    width: 430px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.produto {
    width: 235px;
    margin-top: 15px;
}

.produto figure {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
}

.produto figure img {
    vertical-align: middle;
}

.texto-centralizado {
    text-align: center;
}

.btn-pata {
    border:  1px solid #91e467;
    background-color: #d2fbbd;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.btn-pata:hover {
    background-color: #a7c796;
    color: #ffffff;
    transition: .5s;
}

form {
    width: 380px;
}

form input, form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: none;
    background-color: #70b9430a;   
}

.send {
    margin-left: 150px;
}

.centrin {
    margin-left: 56px;
}


iframe{
    width: 100%;
    border-radius: 10px;
    outline: 1px solid #6dd432;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

h3, .valor {
    text-align: center;
}

h4 {
    padding: 5px;
}

#produto .flex-container, #contato .flex-container {
    margin-top: 43px;
}

.imgs {
	transform: scale(1);
	transition: .3s ease-in-out;
    border-radius: 20px;
}

.imgs:hover {
	transform: scale(1.1);
}

p::selection{
    background-color: #24df1d71;
}


@media (max-width: 480px){
    .flex-container{
        flex-direction: column;
        justify-content: center;
        align-items: center ;
    }

    .imgs{
        margin: 3vh .4vw;
        width: 90vw;
        padding-left: 20px;
        border-radius: 0;
    }

    .imgs:hover{transform: none;}

    body{
        width: 100vw;
        overflow-x: hidden;
        background-color: rgb(243, 243, 243);
    }

    nav{
        height: 1vh;
    }

    section{
        width: 100vw;
        margin-top: 2vh;
    }

    h2{
        text-align: center;
    }

    h2::after{
        content: '';
        display: block;
        height: 5px;
        width: 30%;
        background-color: rgb(12, 56, 12);
        margin: auto;
        border-radius: 5px;
        margin-top: 5px;
    }

    .container {
        width: 100vw;
    }

    .container .col {
        width: 100vw;
    }

    #iframe{
        margin-top: 3vh;
    }

    iframe{
        width: 95%;
        margin: 1vw;
    }

    form{
        width: 90%;
        margin: 1vw;
    }

    .forms{
        margin-right: 3vw;
        margin-left: 3vw;
    }

    .serv{
        width: 100vw;
        padding-top: 3vh;
    }

    .produto{
        margin-top: 5vh;
    }

    .btn-pata{
        margin-top: 1.5vh;
    }

    p{
        padding: 0px 30px;
        text-align: justify;
    }

    .send{
        margin-left: 35vw;
    }
}



















